.BurgerSelector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}
.BurgerSelector label {
    display: inline;
    font: inherit;
    font-display: bold;
    text-align: right;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;    
}
.BurgerSelector input {
    display: inline-block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 50px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;    
}
