.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 20px solid rgb(110, 5, 248);
    border-style: double;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.5s ease-out 0.2s;
    transform: rotate(90);
}
.Modal:hover {
    border: 20px solid rgb(248, 41, 5);
    border-style: double;
    transform-box: view-box;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}